:root {
  --night: #0E0E12;
  --eerieBlack: #1F1F1C;
  --raisinBlack: #302E38;
  --Verdigris: #28AFB0;
  --Purple: #59305F;
  --Amethyst: #9C6EAF;
  --Foly: #FF3366;
  --White: #EDEDF4;
  /* LINK TO COLORS: https://coolors.co/0e0e12-1f1f1c-2a2338-ff3366-9c6eaf */
}

* {
  margin: 0;
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: "Mukta Mahee", sans-serif;
  color: #FF3366;
  background-color: #0E0E12;
}

#app {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

#clock-section {
  min-width: 100vw;
  min-height: 40vh;
}

#clock {
   display: flex;
   flex-direction: column;
   align-items: center;
/*    margin-top: 15%; */
   font-size: 3rem;
}


/* Pomodoro Short Break Long Break */
#clock-labels {
  display: flex;
  font-size: 2rem;
  font-weight: 900;
  flex-direction: row;
  gap: 4rem;
  margin-bottom: 2rem;
  align-items: center;
}


#clock-buttons {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}


#pomodoro-label {
  color: var(--Foly)
}


#shortBreak-label {
  color:var(--Amethyst);
}

#longBreak-label {
  color:var(--Verdigris)
}

/* Class for when a label is selected */
.label-selected {
  background-color: #1c1c2e;
  border-radius: 5px;
  padding: 0 2rem 0 2rem
}

/* Class for when a label is selected */
.label-not-selected {
  background-color: transparent;
}

#time-left {
  font-size: 5rem;
  font-weight: 900;
  background-color: #1c1c2e;
  padding: 0 5rem;
  margin-bottom: 1.5rem;
}

#start_stop {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Mukta Mahee", sans-serif;
  margin-bottom: 1.5rem;
  color: var(--Foly);
  border: 0;
  border-radius: 5px;
  min-width: 8rem;
  background-color: #EDEDF4;
  box-shadow: 0px 2px 1px 2px;
  
}

#start_stop:hover, a:hover {
  opacity: 0.5;
  cursor: pointer;
}

#start_stop:active{
  transform: translateY(4px);
}