:root {
  --night: #0E0E12;
  --eerieBlack: #1F1F1C;
  --raisinBlack: #302E38;
  --darkPurple: #2A2338;
  --purple: #59305F;
  --Amethyst: #9C6EAF;
  --Foly: #FF3366;
  /* LINK TO COLORS: https://coolors.co/0e0e12-1f1f1c-2a2338-ff3366-9c6eaf */
}

* {
  margin: 0;
}

body {
  font-family: "Mukta Mahee", sans-serif;
  color: #FF3366;
  background-color: #0E0E12;
}


#app {
  display: block;
  justify-content: center;
  align-items: center;
}

#clock-section {
  min-width: 100vw;
  min-height: 40vh;
}

#clock {
   display: flex;
   flex-direction: column;
   align-items: center;
/*    margin-top: 15%; */
   font-size: 2rem;
}

#timer-label {
  font-weight: 900;
  font-size: 4rem;
}

#time-left {
  font-size: 5rem;
  font-weight: 900;
  background-color: #1c1c2e;
  padding: 0 5rem;
  margin-bottom: 0.5rem;
}

#start_stop {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Mukta Mahee", sans-serif;
  margin-bottom: 1rem;
  color: #59305F;
  border: 0;
  border-radius: 5px;
  min-width: 8rem;
}

#start_stop:hover, a:hover {
  opacity: 0.5;
  cursor: pointer;
}

#break-section {
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin-left: 5rem;
  font-size: 2.5rem;
}

#session-section {
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin-right: 5rem;
  font-size: 2.5rem;
}


#session-increment, #break-increment {
  margin-right: 2rem;
}


#session-buttons, #break-buttons, #reset {
  font-size: 2rem;
}


#adjust-section {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: #0E0E12;
}


