:root {
    --night: #0E0E12;
    --eerieBlack: #1F1F1C;
    --raisinBlack: #302E38;
    --Verdigris: #28AFB0;
    --Purple: #59305F;
    --Amethyst: #9C6EAF;
    --Foly: #FF3366;
    /* LINK TO COLORS: https://coolors.co/0e0e12-1f1f1c-2a2338-ff3366-9c6eaf */
  }


  #session-section, #break-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }